{% extends 'homepage/template.html' %}
{% load static %}

{% block body %}
<style>

</style>

    <div class="container force">
        <div class='row'>
            <div class='col-xl'>
                <h1 class="title text-center" style="margin-left: 80px;">Grafica</h1>
                {% if chart %}
                <img class="align-self-center" src="data:image/png;base64, {{chart|safe}}"></img>
                {% endif %}
            </div>
            <div class="col-md">
                
                <div class="form card">
                    <h1 class="title">Settings</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-container ic1">
                            <input id="firstname" class="input" type="number" placeholder=" " name="ID_Start"/>
                            <div class="cut"></div>
                            <label for="firstname" class="placeholder">Insert Start ID</label>
                        </div>
                        <div class="input-container ic2">
                            <input id="lastname" class="input" type="number" name="ID_End" placeholder=" " />
                            <div class="cut"></div>
                            <label for="lastname" class="placeholder">Insert End ID</label>
                        </div>
                        <button type="text" class="submit">submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <table class="table text-center">

        </table>
    </div>

    <div class='container text-center' id="dataR">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Desplazamiento</th>
                    <th scope="col">Dato</th>
                </tr>
            </thead>
                <tbody>
                    {% for x in Colector %}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.fecha}}</td>
                        <td>{{x.tiempo}}</td>
                        <td>{{x.dato}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>

    </div>
{% endblock %}

